<div class="main-container">
  <h2 class="accordion-header" id="headingtwo">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#row" aria-expanded="true" aria-controls="row">
      <h3 class="arrow"></h3><h1>Experiencia laboral</h1><h3 class="arrow"></h3>
    </button>
  </h2>
  <div id="row" class="accordion-collapse collapse" aria-labelledby="headingtwo">
  <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li><h1>trabajo 1</h1> - <h3>(proximamente)</h3></li>
<p></p>
      </ul>
   </div>
  </div>
</div>
