.main-container{
  border-top: 10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: lightgrey;
  border-style: groove;
  }
  div{
    background: #a7a7a7;
  }
  @font-face {
    font-family:'oriental';
    src: url(../../../assets/fonts/LaOriental-Bold.otf);
  }
  h1{
    display: inline;
    font-family: 'oriental';
    text-align: center;
    padding-left: 0%;
  }
  h2{
    margin-left: 22%;
  }
  @media (max-width:576px){

    h1{
      padding-left:0%;
    }
    h2{
      padding-left: 0%;
      margin-left: 0%;
     }
   }
  h3{
    display: inline;
  }
  .subtitle{color:darkred;
  }
  .arrow{
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-right: 50px;
    padding: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
