<div class="card-container">
  <h1>Proyectos realizados:</h1>
    <div class="row gy-3 my-3">
      <div class="col-sm-6 col-md-3">
        <div class="row-card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/argpro.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Este Portfolio</h5>
            <p class="card-text">Fue realizado en una estructura "AngularJS",
              un frontend basado en html, css y bootstrap,
              base de datos en sql y un backend puramente hecho en Java, el development de la pagina talvez habra sido largo,
              pero valio la pena para ver el resultado aunque a ser honestos puede mejorar y lo hara con el tiempo
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="row-card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/comming-soon.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Proximamente mas proyectos!</h5>
            <p class="card-text">Tengo muchos proyectos actualmente en mente
              (como el desarrollo de videojuegos independientes por ejemplo) pero debido a una escases de
              recursos y las limitantes de hardware actuales no he podido ponerme a trabajar en ellos aun,
              lo que mas espero es la posiblidad de ahorrar dinero y salir adelante para cumplir estos tan anciados proyectos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
