.main-container{
  background-color: #9f2b1d;
  border-top: 10px;
  border-left: 0;
  border-color: salmon;
  border-style: groove;
}
@font-face {
  font-family:'oriental';
  src: url(../../../assets/fonts/LaOriental-Bold.otf);
}
h1{
  display:inline;
  font-family:'oriental';
  text-align: center;
  padding-left: 4.5%;
}
h2{
  padding-left: 30%;
}
h3{
  display: inline;
  }
p{
  display: inline;
<<<<<<< Updated upstream
  text-align: right;
}

@media (max-width:576px){
h2{
  padding-left: 12%;
}
p{
  padding-left: 0px;
  display: block;
  padding-right: 40px;
}
#fray{
  max-width: 55%;
  text-align: center;
  padding-left: 130px;
}
#UNSJ{
  max-width: 70%;
  text-align: center;
  padding-left: 90px;
}
#saint{
  max-width: 70%;
  text-align: center;
  padding-left: 90px;
}
  }
@media (min-width:577px){
#fray{
  max-width: 5%;
}
#UNSJ{
  max-width: 5%;
}
#saint{
  max-width: 7%;
}
  }
.logo{
  display: inline;
}
=======
}

@media (max-width:576px){
  h2{
    padding-left: 12%;
   }
 }

.fray{
  max-width: 10%;
 }

 .saint{
  max-width: 10%;
 }

 .UNSJ{
  max-width: 10%;
 }

>>>>>>> Stashed changes
.arrow{
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.progress-bar-2{
  width: 100%;
  background: darkgoldenrod;
}
.progress-bar-3{
  width: 100%;
  background: darkorange;
}
.progress-bar-4{
  width: 20%;
  background: darkolivegreen;
}
