<div>
  <div class="container-1">
    <h1>Lenguajes de programacion aprendidos</h1>
      <div class="row">
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="98"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/html.png'"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f06529'"
          [innerStrokeColor]="'#292929'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="90"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/CSS.png'"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#2965f1'"
          [innerStrokeColor]="'#ebebeb'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="75"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/js.png'"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f0db4f'"
          [innerStrokeColor]="'#323330'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="85"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/angular.png'"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#a6120d'"
          [innerStrokeColor]="'#b3b3b3'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="60"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/typescript.png'"
          [imageHeight]="80"
          [imageWidth]="120"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#007acc'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="50"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/ruby.png'"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#483d8b'"
          [innerStrokeColor]="'#cc0000'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="88"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/bootstrap.png'"
          [imageHeight]="80"
          [imageWidth]="80"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#b3b3b3'"
          [innerStrokeColor]="'#563d7c'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="85"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/java.png'"
          [imageHeight]="100"
          [imageWidth]="100"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f89820'"
          [innerStrokeColor]="'#5382a1'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="70"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/C++.png'"
          [imageHeight]="100"
          [imageWidth]="90"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#483d8b'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="78"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/SQL.png'"
          [imageHeight]="100"
          [imageWidth]="100"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#00758f'"
          [innerStrokeColor]="'#f29111'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="30"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/wordpress.png'"
          [imageHeight]="100"
          [imageWidth]="100"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#444140'"
          [innerStrokeColor]="'#00749C'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="86"
          [maxPercent]="100"
          [showImage]="true"
          [imageSrc]="'../assets/git.png'"
          [imageHeight]="100"
          [imageWidth]="120"
          [showUnits]="false"
          [backgroundColor]="'#e48a8a'"
          [backgroundGradientStopColor]="'#000000'"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#7cc5d9'"
          [innerStrokeColor]="'#1c2c4c'"
          [animation]="true"
          [animationDuration]="600"
          ></circle-progress>
        </div>
      </div>
    </div>
  <div class="container-2">
  <h1>Habilidades competentes</h1>
    <div class="row">
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="86"
        [maxPercent]="100"
        [showImage]="true"
        [imageSrc]="'../assets/grupal.png'"
        [imageHeight]="100"
        [imageWidth]="120"
        [showUnits]="false"
        [backgroundColor]="'#e48a8a'"
        [backgroundGradientStopColor]="'#000000'"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7cc5d9'"
        [innerStrokeColor]="'#1c2c4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="86"
        [maxPercent]="100"
        [showImage]="true"
        [imageSrc]="'../assets/redaction.png'"
        [imageHeight]="100"
        [imageWidth]="120"
        [showUnits]="false"
        [backgroundColor]="'#e48a8a'"
        [backgroundGradientStopColor]="'#000000'"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7cc5d9'"
        [innerStrokeColor]="'#1c2c4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="86"
        [maxPercent]="100"
        [showImage]="true"
        [imageSrc]="'../assets/creativity.png'"
        [imageHeight]="100"
        [imageWidth]="120"
        [showUnits]="false"
        [backgroundColor]="'#e48a8a'"
        [backgroundGradientStopColor]="'#000000'"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7cc5d9'"
        [innerStrokeColor]="'#1c2c4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
      </div>
    </div>
  </div>
</div>

