<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <img src="../../../assets/profilephoto.png"
   class="img-fluid" id="photo">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre">
    <p>Lucas Ezequiel López Valenzuela</p>
    <p>full stack developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi:</h1>
      <p>Soy un desarrollador full-stack muy creativo y apasionado por el trabajo,
        orientado al desarrollo, mantenimiento y pulido de aplicaciones y sitios web.
        Soy una persona paciente, extrovertida y detallista, que siempre esta dispuesto a
        ayudar en cualquier situacion posible, estando
        dispuesto a seguir una ética cien porciento profesional y un pensamiento orientado al bienestar comun,
        esto acompañado de grandes ambiciones y mis constantes ganas de aprender, siento que estaré a la altura
        de cualquier proyecto o desafío que me sea propuesto.
      </p>
    </span>
  </div>
</div>
